<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <header>
        <div class="container-nav">
        <div class="logoimg">
            <img src="Img/logo.jpg" alt="">
        </div>
        <span id="mostrar" class="mostrar"><i class="fa-solid fa-bars"></i
            ></span> 
        <nav class="menu " id="menu">
            <a href="/">INICIO</a>
            <div class="bordes"></div>
            <a href="/logout">SALIR</a>
            <span id="ocultar" class="ocultar"><i class="fa-solid fa-xmark"></i
                ></span>
        </nav>
    </div>
    </header>
    <%-body%>
    <%- include("../partials/footer") %>
</body>
</html>