<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <header>
        <div class="container-nav">
        <div class="logoimg">
            <img src="Img/logo.jpg" alt="">
        </div>
        <span id="mostrar" class="mostrar"><i  class="fa-solid fa-bars"></i
            ></span> 
        <nav class="menu " id="menu">
            <a href="/">INICIO</a>
            <div class="bordes"></div>
            <a href="/users">NOSOTROS</a>
            <div class="bordes"></div>
            <a href="/login">LOGIN</a>
            <span id="ocultar" class="ocultar"><i class="fa-solid fa-xmark"></i
                ></span>
        </nav>
    </div>
    </header>
    <%-body%>
    <footer>
        <p>&copy; 2022 Codehaag</p>
    </footer>
    <script defer src="Js/corporation.js"></script>
    <script src="https://kit.fontawesome.com/6fe6321916.js" crossorigin="anonymous"></script>
</body>
</html>