.container-gral{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url(../Img/fondo-create2.png);
    background-size: cover;
}
.container-gral form{
    width: 80%;
    margin: 0 auto 30px auto;
    color: white;
}
.container-gral form .container-title{
    text-align: center;
}
.container-gral form .container-form{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
} 
 .container-gral form .container-form .container-input{
    display: flex;
}
 .container-input .container-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container-input .container-info input, .container-input .container-info select {
    width: 90%;
}
.container-gral form .container-form .container-data{
    width: 95%;
    display: flex;
    flex-direction: column;
}
input,textarea, select{
    background-color: rgba(199, 199, 199, 0.459) !important;
    margin: 5px 0 15px 0;
    border-radius: 10px !important;
    padding: 10px 0 !important;
    resize: none;
    color: white !important;
    outline: none;
    border: 1px solid rgba(117, 117, 117, 0.89) !important;
}
option{
    color: black;
}
.input-file{
    border: none;
}
label{
    font-weight: 600;
}
input[type="file"] {
    background: none !important;
    border: none !important;
}
.container-gral form .container-form .container-btn{
    justify-content: center;
    display: flex;
}
input::placeholder, textarea::placeholder{
    padding-left: 5px;
    color: rgba(240, 248, 255, 0.925) !important;
}
.is-invalid{
    border: 1px solid #dc3545 !important;
    margin: 5px 0 0 0;
}
.is-invalid#nacimiento{
    background-image: none !important;
}
@media(max-width:768px){ 
    .container-gral form .container-form .container-input{
        flex-direction: column;
    }
    .container-input .container-info{
        width: 100%;
    }
    .container-gral form .container-form .container-data{
        width: 90%;
    }
 }
/*--------------------------ssucess---------------------------*/

.container-total{
    background-image: url(../Img/fondo-create.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 94vh;
   align-items: center;
} 
.container-total .container-sucess{
   width: 80%;
   margin: 0 auto;
   height: 60%;
   display: flex;
align-items: center;
color: white;
  flex-direction: column;
}
.container-total .container-sucess h2{
    font-size: 40px;
    margin: 50px 0 30px 0;
}
.container-total .container-sucess p{
    font-size: 22px;
    
    font-weight: 600;
}
.container-total .container-sucess .container-btn{
    display: flex;
    justify-content: right;
    width: 60%;
    margin-top: 50px;
}
@media(max-width:768px){ 
    h2{
        color: gray;
    }
}