<link rel="stylesheet" href="Css/corporation.css">
    <div class="container-sucess">
         <h2>Muchas gracias por contactarnos!, en breve te contactaremos.</h2>
        <div class="container-parrafo">
            <a href="/" class="btn btn-outline-info">Volver</a>
            <p>Equipo AH-TECH</p>
        </div> 
    </div>
</header>