<!DOCTYPE html>
<html>
<head>
    <title>Redireccionando a iniciar sesión</title>
    <meta http-equiv="refresh" content="5;url=/login">
    <link rel="stylesheet" href="Css/login.css"> 
</head>
<body>
    <main>
        <div id="banner">
         <h1 class="title">Borrado exitoso. Redirigiendo a Login...</h1>
        </div>
    </main>
</body>
</html>