<title>Error de inicio</title>
<link rel="stylesheet" href="Css/talents.css">
<main>
  <div class="container-error">
    <h2>Usted no tiene acceso a este usuario</h2>
    <a href="/login" class="btn btn-outline-info">Iniciar sesión</a>
  </div>
</main>