<title>Sucess</title>
<link rel="stylesheet" href="Css/create.css">
<main>
  <section class="container-total">
    <div class="container-sucess">
      <h2>Perfil creado con éxito</h2>
      <p>Comienza a dar tus primeros pasos y se parte de la nueva era digital!</p>
      <div class="container-btn">
        <a href="/user/perfil/<%=values.id%>" class="btn btn-outline-light">Ver perfil</a>
      </div>
    </div>
  </section>
</main>
